# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/

# Ignore logs and environment files
*.log
.env

# Ignore all .jpg files
*.jpg

# Ignore all .txt files
*.txt

# Ignore hidden MacOS system files
.DS_Store
__MACOSX/